*~
.DS_Store
.\#*
.emacs.desktop
.emacs.desktop.lock
.session
HyperSpec/*
[#]*[#]
ac-comphist.dat
auto-save-list/
elpa/*
eshell/
games/*
ido.last
projectile-bookmarks.eld
projectile.cache
semanticdb/*
server/*
session.*
tramDp
unused-*
url/*
var/*